%h1 Categories
%div.categories_container
  - @categories.each do |category|
    - title = category.fields[:title]
    %div.category
      %h2
        = link_to(title, category_path(title: title))
      = image_tag(category.fields[:icon].url)
